[python: stoic_eln/**/*.py]
keywords=_l lazy_gettext
[python: stoic_eln/*.py]
keywords=_l lazy_gettext
[jinja2: stoic_eln/templates/**/*.html]
[jinja2: stoic_eln/templates/*.html]
extensions=jinja2.ext.autoescape,jinja2.ext.with_
